  @keyframes float1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Move up */
    }
    100% {
      transform: translateY(0px); /* Return to original position */
    }
  }

  @keyframes float2 {
    0% {
      transform: translateX(-7px);
    }
    50% {
      transform: translateX(7px); /* Move up */
    }
    100% {
      transform: translateX(-7px); /* Return to original position */
    }
  }

  div g:nth-child(2) g:nth-child(1) {
    animation: float1 5s ease-in-out infinite;
  }

  div g:nth-child(2) g:nth-child(2) {
    animation: float1 8s ease-in-out infinite;
  }

  div g:nth-child(2) g:nth-child(3) {
    animation: float1 6s ease-in-out infinite;
  }

  div g:nth-child(2) g:nth-child(4) {
    animation: float1 7s ease-in-out infinite;
  }

  div g:nth-child(2) g:nth-child(5) {
    animation: float1 8s ease-in-out infinite;
  }
  div g:nth-child(2) g:nth-child(6) {
    animation: float1 5s ease-in-out infinite;
  }
  div g:nth-child(2) g:nth-child(7) {
    animation: float1 8s ease-in-out infinite;
  }
  div g:nth-child(2) g:nth-child(8) {
    animation: float2 5s ease-in-out infinite;
  }



  @font-face {
    font-family: 'Slabien';
    src: url('./slabien-regular.ttf') format('truetype');
        
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-size: 36px;
    font-family: 'Slabien', serif;
  }



  .green {
    color: #0B5837;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  /* Global Variables and Mixins */
  $breakpoints: (
    'xs': 480px,   // Extra small devices
    'sm': 768px,   // Small devices (tablets)
    'md': 1024px,  // Medium devices (laptops)
    'lg': 1280px,  // Large devices (desktops)
    'xl': 1440px   // Extra large devices
  );

  @mixin respond-to($size) {
    @media (max-width: map-get($breakpoints, $size)) {
      @content;
    }
  }


  body {
    line-height: 1.6;
  }

  .home{
    background-color: #ffcf56;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    width: 100%;
    &-desc{
      padding: 10%;
      padding-top: 20px;
    }
  }

  /* Header Styles */
  .header {
    align-items: center;
    background-color: #333;
    display: flex;
    // justify-content: space-between;
    @include respond-to('sm') {
      flex-direction: column;
      // text-align: center;
    }

    .logo {
      flex: 1;
      @include respond-to('sm') {
        display: none;
      }
    }

    .sociolite {
      align-items: center;
      display: flex;
      flex: 1;
      height: 100vh;
      justify-content: center;
      overflow: hidden;
      width: 100vw;
      @include respond-to('sm') {
        margin-top: 1rem;
      }
    }
  }

  /* Main Section Styles */
  .section-title {
    background-color: #BF9A3C;
    margin-top: auto;
    min-height: 100px;
    text-align: left;
    padding: 60px;
    h1{
      color: #538098;
    }
  }

  h1 {
    font-size: 3rem;
    color: #191d66;
    @include respond-to('sm') {
      font-size: 2rem;
    }
  }
  h2{
    font-size: 2.5rem;
    font-weight: 400;
    @include respond-to('sm') {
      font-size: 1.5rem;
    }
  }

  .green {
    color: green;

  }

  form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    @include respond-to('sm') {
      // align-items: center;
    }

    input {
        background-color: #F9D4E7;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-family: 'Slabien', serif;
        font-size: 1rem;
        height: 54px;
        padding: 0px;
        width: 60%;
        @include respond-to('sm') {
          // width: 65%;
        }
    }
    input::placeholder{
      color:#aaa
    }

    button {
      height: 54px;
    
      background-color: #538098;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: #416d7a;
      }
    }
  }

  p {

    font-size: 1rem;
    color: #555;

    @include respond-to('sm') {
      // text-align: center;
    }
  }

  /* Floating Element Styles */
  .float {
    
    right: 1rem;
    bottom: 1rem;

    @include respond-to('sm') {
      width: 40%;
    
    }
  }
  // .background { animation: moveBackground 10s infinite linear; }
  // .foreground { animation: moveForeground 6s infinite linear; }
  // .character { animation: bodyBounce 0.5s infinite ease-in-out; }

  // .upper-arm, .forearm, .thigh, .shin { 
  //   transform-origin: center; 
  // }

  // .upper-arm { animation: upperArmSwing 1s infinite ease-in-out alternate; }
  // .forearm { animation: forearmSwing 1s infinite ease-in-out alternate; }
  // .thigh { animation: thighMove 1s infinite ease-in-out alternate; }
  // .shin { animation: shinMove 1s infinite ease-in-out alternate; }

  // @keyframes moveBackground {
  //   0% { transform: translateX(0); }
  //   100% { transform: translateX(-800px); }
  // }
  // @keyframes moveForeground {
  //   0% { transform: translateX(0); }
  //   100% { transform: translateX(-400px); }
  // }

  // @keyframes bodyBounce {
  //   0% { transform: translateY(0); }
  //   50% { transform: translateY(-5px); }
  //   100% { transform: translateY(0); }
  // }

  // @keyframes upperArmSwing {
  //   0% { transform: rotate(-30deg); }
  //   100% { transform: rotate(30deg); }
  // }
  // @keyframes forearmSwing {
  //   0% { transform: rotate(15deg); }
  //   100% { transform: rotate(-15deg); }
  // }
  // @keyframes thighMove {
  //   0% { transform: rotate(25deg); }
  //   100% { transform: rotate(-50deg); }
  // }
  // @keyframes shinMove {
  //   0% { transform: rotate(30deg); }
  //   100% { transform: rotate(-30deg); }
  // }

.button-icon{
  padding: 5px;
  border-radius: 8px;
  // background-color: #cacf92;
  background: linear-gradient(135deg, #cacf92, #c3cda7);

  border: 1px solid #939214;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-icon:hover{
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.button-icon:active  {
  transform: scale(0.95);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

